body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

tr { border: 1px solid black; }
td { border: 1px solid black; }

.header__nav-menu {
	background: #ccc;
	text-align: right;
	height: 60px;
	border-bottom: 1px solid black;
}


.footer {
	position: sticky;
	bottom: 0;
	left: 0;
	height: 60px;
	background: rgba(61, 215, 235, 0.81);
	width: 100%;
	text-align: right;
	font-size: 1rem;
}

a {
	color: #0e6269;
	font-size: 16px;
	font-family: "Comic Sans MS";
}

a:hover {
	color: #f224ca;
}


td {
	width: 20%;
	text-align: justify;
	
}
.nestle__list__li {
	list-style-type: none;
	font-style: oblique;
}

.content__left-center-right__center {
	text-align: justify;
	padding: 5px;
	padding-right: 10px;
}

.nestle__h1 {
	color: black;
	font-size: 18px;
	font-weight: 400;
}

.nestle__desc {
	background: #eaeaea;
}

.nestle__description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.nestle__desc_p {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

li:before {
	content: "\0261e";
	margin-right: 2px;

}


.contacts__form__fieldset__legend_input {
	width: 201px;
	height: 20px;
	color: black;
	font-size: 15px;
	font-style: italic;
}

.contacts__form__fieldset__legend_input:focus {
	background: rgba(0, 255, 255, 0.31);
}

.contacts__form__fieldset__legend_input:invalid {
	background: rgba(255, 0, 0, 0.28);
}



.header__nav-menu__back {
	position: absolute;
	left: 0;
}

.name {
	text-transform: capitalize;
}

.goods p:first-letter {
	font-style: italic;
	font-size: 30px;
}

.left-menu {
	font-size: 1rem;
	display: inline-block;
	width: 25%;
	background: #a89e9e;
}

.content {
	font-size: 1rem;
	display: inline-block;
	width: 50%;
	background: #ccc;
	vertical-align: top;
}

.right-menu {
	font-size: 1rem;
	display: inline-block;
	width: 25%;
	background: #eee;
}

.center {
	font-size: 0;
}

body {
	margin: 0;
	padding: 0;
}
.header {
	font-size: 0;
	height: 70px;
	vertical-align: top;
}

.header-logo {
	width: 25%;
	display: inline-block;
	font-size: 1rem;
	position: relative;
	left: 10px;
	top: 10px;
}

.header-nav {
	width: 50%;
	display: inline-block;
	font-size: 1rem;
	position: relative;
	text-align: center;
	bottom: 10px;
}

.header-exit {
	font-size: 1rem;
	width: 25%;
	display: inline-block;
	background: #ccc;
}

.header-nav__li {
	display: inline-block;
	width: 22%;
}

.header-login-exit {
	display: inline-block;
	width: 25%;
	font-size: 1rem;
	position: relative;
	bottom: 10px;
}

.header-login-exit__li {
	display: inline-block;
	width: 20%;
	padding-left: 20px;
	text-align: right;
}


.nestle {
	font-size: 1rem;
}

.footer__rights {
	position: relative;
	top: 20px;
}

.left-menu__content {
	
}


