body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

tr { border: 1px solid black; }
td { border: 1px solid black; }

.header__nav-menu {
	background: #ccc;
	text-align: right;
	height: 60px;
	border-bottom: 1px solid black;
}


.footer {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 30px;
	background: rgba(61, 215, 235, 0.81);
	width: 100%;
	text-align: center;
}

a {
	color: #0e6269;
	font-size: 16px;
	font-family: "Comic Sans MS";
}

a:hover {
	color: #f224ca;
	font-size: 30px;
}


td {
	width: 20%;
	text-align: justify;
	
}
.nestle__list__li {
	list-style-type: none;
	font-style: oblique;
}

.content__left-center-right__center {
	text-align: justify;
	padding: 5px;
	padding-right: 10px;
}

.nestle__h1 {
	color: black;
	font-size: 18px;
	font-weight: 400;
}

.nestle__desc {
	background: #eaeaea;
}

.nestle__description {
	color: #484343;
	font-size: 16px;
	font-weight: 400;
	line-height: 24px;
	text-align: left;
}

.nestle__desc_p {
	color: #707070;
	font-size: 14px;
	font-style: italic;
	line-height: 16px;
}

li:before {
	content: "\0261e";
	margin-right: 2px;

}


.contacts__form__fieldset__legend_input {
	width: 201px;
	height: 20px;
	color: black;
	font-size: 15px;
	font-style: italic;
}

.contacts__form__fieldset__legend_input:focus {
	background: rgba(0, 255, 255, 0.31);
}

.contacts__form__fieldset__legend_input:invalid {
	background: rgba(255, 0, 0, 0.28);
}



.header__nav-menu__back {
	position: absolute;
	left: 0;
}

.name {
	text-transform: capitalize;
}

img:hover {
	width: 100%;
}

.goods p:first-letter {
	font-style: italic;
	font-size: 30px;
}
