body {
	margin: 0;
	padding: 0;
	background: #f8f8f8;
}

tr { border: 1px solid black; }
td { border: 1px solid black; }

.header__nav-menu {
	background: #ccc;
	text-align: right;
	height: 60px;
	border-bottom: 1px solid black;
}


.footer {
	position: fixed;
	bottom: 0;
	left: 0;
}

a {
	color: #f224ca;
	font-size: 20px;
	font-family: "Comic Sans MS";
}

li {
	list-style-type: none;
}
td {
	width: 20%;
	text-align: justify;
	
}
.li-dot {
	list-style-type: circle;
}

.content__left-center-right__center {
	text-align: justify;
	padding: 5px;
	padding-right: 10px;
}
